<% 
var d = jsonData;
var domain = 'http://www.pacwell.co.jp/';
-%>
<section class="l-wrapper">
    <div class="p-kv">
        <h1 class="p-kv__title"><img src="<%- d.path %>images/headline01.svg" alt="梱包も脱プラスチックの時代！進化した「紙緩衝材」製造機"></h1>
    </div>
    <section class="p-top-main">
        <h2 class="p-top-main__title">お困りごとはありませんか？</h2>
        <div class="p-top-checklist">
            <div class="p-top-checklist__detail">
                <ul class="p-top-checklist__list">
                    <li class="p-top-checklist__item">環境に配慮した包装資材を使いたい</li>
                    <li class="p-top-checklist__item">脱プラを推進したいが作業性も良くしたい</li>
                    <li class="p-top-checklist__item">多品種少量生産の重量物のため梱包に手間取っている</li>
                    <li class="p-top-checklist__item">今の梱包方法に満足できてない</li>
                </ul>
                <div class="p-top-checklist__illust">
                    <img src="<%- d.path %>images/illust01.svg" alt="" width="208" height="306">
                </div>
            </div>
        </div>
        <div class="p-top-introduction">
            <div class="p-top-introduction-kv">
                <p class="p-top-introduction-kv__text">パックウェルに<br>お任せください！</p>
                <div class="p-top-introduction-kv__image" role="img" aria-label="イメージ"></div>
            </div>
            <div class="p-top-introduction-illust">
                <img src="<%- d.path %>images/illust02.svg" alt="" width="294" height="300">
            </div>
        </div>
    </section>
    <section class="p-top-product">
        <h2 class="p-top-product-title">
            <span class="p-top-product-title__text">パックウェルのオススメ<br>「紙緩衝材」製造機</span>
        </h2>
        <section class="p-top-product-content">
            <h3 class="p-top-product-content__title">紙緩衝材の進化系</h3>
            <div class="p-top-ptoduct-content__brand">
                <img src="<%- d.path %>images/brand01.svg" alt="NUEVOPAK ヌエボパック" width="592" height="199">
            </div>
            <p class="p-top-product-content__lead">
                国際的な目標「SDGs」が世界の潮流となり、レジ袋の有料化など廃プラスチックの環境問題も身近になった昨今。物流業界にも、「脱プラ」の機運が高まっています。<br>
                中でもリサイクル可能で環境に優しい紙の緩衝材は多彩な用途に使われています。<br>
                さまざまな紙緩衝材を即座に製造するＮＵＥＶＯＰＡＫは、時代のニーズに応えます。
            </p>
            <div class="p-top-product-type">
                <%- include('../include/parts/_p-product-type') %>
            </div>
        </section>
    </section>
    <section class="p-top-about">
        <h2 class="p-top-about-title c-large-tag">紙緩衝材の形状について</h2>
        <div class="p-top-about-block">
            <dl class="p-top-about-block__dl">
                <dt class="p-top-about-block__dt"><img src="<%- d.path %>images/brand-type01.svg" alt="X-Pad+TM" width="238" height="45"></dt>
                <dd class="p-top-about-block__dd">
                    立体的なパッドタイプの緩衝材は緩衝性能が高く、<br>機械類などの重量物や突起のある製品に最適です。
                </dd>
            </dl>
            <div class="p-top-about-block__illust">
                <img src="<%- d.path %>images/illust03.svg" alt="" width="948" height="187">
            </div>
        </div>
        <div class="p-top-about-block">
            <dl class="p-top-about-block__dl">
                <dt class="p-top-about-block__dt"><img src="<%- d.path %>images/brand-type02.svg" alt="X-FillTMA" width="214" height="44"></dt>
                <dd class="p-top-about-block__dd">
                    クラフト紙をクッション性のある紙緩衝材に加工。<br>梱包作業に欠かせない隙間埋めに最適です。
                </dd>
            </dl>
            <div class="p-top-about-block__illust p-top-about-block__illust--mt">
                <img src="<%- d.path %>images/illust04.svg" alt="" width="950" height="125">
            </div>
        </div>
    </section>
    <div class="p-top-banner">
        <%- include('../include/parts/_p-large-banner') %>
        <a href="http://www.pacwell.co.jp/product/catalog.html" class="p-download-button">
            カタログはこちらからダウンロードできます
            <svg class="p-download-button__icon" aria-label="ダウンロード" width="48" height="48" role="img"><use xlink:href="#svg-download" /></svg>
        </a>
    </div>
</section>




<div class="p-large-banner">
    <p class="p-large-banner__lead">導入前にその魅力をお確かめいただけます！</p>
    <div class="p-large-banner__content">
        <div class="p-large-banner__catch">無償デモ＆<br>無料サンプル</div>
        <div class="p-large-banner__circle">実施中！</div>
    </div>
    <a href="http://www.pacwell.co.jp/contact.html" class="p-large-banner__link">
        お問い合わせ・無償デモのお申し込みは今すぐ！
        <svg class="p-large-banner__icon" aria-label="お問い合わせ" width="40" height="40" role="img"><use xlink:href="#svg-mail-large" /></svg>
    </a>
</div>




<article class="p-case-article">
    <div class="p-case-article-head">
        <div class="p-case-article-head__container">
            <h3 class="p-case-article-head__name">トラスコ中山株式会社<span class="p-case-article-head__honor">様</span></h3>
            <div class="p-case-article-head__detail">
                <dl class="p-case-article-head__dl">
                    <dt class="p-case-article-haed__dt c-tag">事業内容</dt>
                    <dd class="p-case-article-haed__dd">
                        プロツール（工場用副資材)の卸売及び自社ブランド製品の企画開発
                    </dd>
                </dl>
                <dl class="p-case-article-head__dl">
                    <dt class="p-case-article-haed__dt c-tag">導入機種</dt>
                    <dd class="p-case-article-haed__dd p-case-article-haed__dd--brand">
                        X-Fill A
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="p-case-article-body">
        <div class="p-case-article-content">
            <div class="p-case-article-detail">
                <h4 class="p-case-article-detail__headline">
                    NUEVOPAKを採用したポイントは？
                </h4>
                <p class="p-case-article-detail__text">
                当社は「日本のモノづくり現場を支えるプロツールの専門商社」として、独自の供給体制を構築してきました。2018年からは「日本最大の工具箱」を目指す当社最大の物流センター「プラネット埼玉」を稼働させています。以前は他社製の紙緩衝材を使っていたのですが、よく紙詰まりを起こすので対応に手間取っていました。また緩衝材の紙質が固く、すぐに広がってしまうので梱包工程システムのセンサーで引っかかってしまうトラブルもあり、対策を検討していたところ、タイミング良く、パックウェルの担当者から熱心にご提案いただいたので導入を決めました。
                </p>
                <hr class="p-case-article-detail__divider">
                <h4 class="p-case-article-detail__headline">
                    どのような点が気に入っていますか？
                </h4>
                <p class="p-case-article-detail__text">
                    プラネット埼玉には最大5万件の出荷能力がありますが、緩衝材のトラブルによって業務効率が落ちては本末転倒です。ＮＵＥＶＯＰＡＫの導入後は、紙詰まりも減って後工程の梱包システム上の悪影響がほとんどなくなり、助かっています。それと、以前の製造機では繰り出し長さをツマミで調整するので感覚的な部分があったのですが、ＮＵＥＶＯＰＡＫはデジタルで正確に設定できる点も気に入っています。
                </p>
                <p class="p-case-article-detail__author">（プラネット埼玉　小林真梨子様）</p>
            </div>
            <ul class="p-case-article-gallery">
                <li class="p-case-article-gallery__item">
                    <img src="<%- d.path %>images/case01-1.jpg" alt="">
                </li>
                <li class="p-case-article-gallery__item">
                    <img src="<%- d.path %>images/case01-2.jpg" alt="">
                </li>
                <li class="p-case-article-gallery__item">
                    <img src="<%- d.path %>images/case01-3.jpg" alt="">
                </li>
                <li class="p-case-article-gallery__item">
                    <img src="<%- d.path %>images/case01-4.jpg" alt="">
                </li>
            </ul>
        </div>
        <div class="p-case-article-banner">
            <a href="http://www.pacwell.co.jp/contact.html" class="p-common-banner">
                <div class="p-common-banner__lead">
                    お問い合わせ・無償デモのお申し込みは今すぐ！
                    <svg class="p-common-banner__icon" aria-label="お問い合わせ" width="40" height="40" role="img"><use xlink:href="#svg-mail" /></svg>
                </div>
                <div class="p-common-banner__content">
                    <span class="p-common-banner__text">お電話でのお問い合わせ</span>
                    <strong class="p-common-banner__strong">TEL:048-711-3789</strong>
                </div>
            </a>
        </div>        
    </div>
</article>