<% var 
d = jsonData,
title = 'NUEVOPAK(ヌエボパック)｜梱包も脱プラスチックの時代！進化した「紙緩衝材」製造機｜Pacwell[パックウェル株式会社]',
description = 'NUEVOPAK(ヌエボパック)｜梱包も脱プラスチックの時代！進化した「紙緩衝材」製造機｜Pacwell[パックウェル株式会社]';
%>
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1100">
	<meta property="og:type" content="article">
	<title><%- title %></title>
	<meta property="og:title" content="<%- title %>">
	<meta property="og:url" content="#TODO">
	<meta name="description" content="<%- description %>">
	<meta name="Keywords" content="包む,埋める,封をする,梱包,発送,ダンボール,段ボール,ガムテープ,ガムテープ繰出し機,出荷作業,荷造り,ウレタン包装材,エアー包装材,エアー緩衝材,梱包資材,包装資材,封緘機,封かん機,製函機,半自動タイプ,自動タイプ,生産ライン　省電力,製品,緩衝材システム,包装材システム,エアー包装材システム,エアー緩衝材システム,シュリンク,シュリンクシステム,BETTER PACKAGES,ipg,PREGIS,梱包機械,梱包資材,メーカー,代理店,FC加盟店,国内総販売元,革新的,パッケージング,梱包現場,ソリューション,サポート体制" />
	<meta property="og:description" content="<%- description %>">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="http://www.pacwell.co.jp/favicon.ico">
	<link rel="stylesheet" href="<%- d.path %>css/style.css">
	<!-- GTM -->
	<!-- // GTM-->
</head>
<body>
<!-- GTM -->
<!-- // GTM-->
<!-- SVG-->
<%- include('./_svg') %>
<!-- // SVG-->
<div class="l-wrapper" id="js-scroll-top">