<% var d = jsonData; -%>
<div class="p-product-type">
    <div class="p-product-type__article">
        <p class="p-product-type__brand">
            <svg aria-label="X-Pad+TM" width="338" height="64"><use xlink:href="#svg-brand-type01" /></svg>
        </p>
        <p class="p-product-type__tag c-large-tag">重量物梱包用</p>
        <ul class="p-product-type__list">
            <li class="p-product-type__item">
                <div class="p-product-type__image">
                    <img src="<%- d.path %>images/model01-1.jpg" alt="X-Pad+TM 重量物梱包用 床置きスタンドモデル" width="204" height="350">
                </div>
                <p class="p-product-type__name">床置きスタンドモデル</p>
            </li>
            <li class="p-product-type__item p-product-type__item--model2">
                <div class="p-product-type__image">
                    <img src="<%- d.path %>images/model01-2.jpg" alt="X-Pad+TM 重量物梱包用 テーブルサイドモデル" width="237" height="350">
                </div>
                <p class="p-product-type__name">テーブルサイドモデル</p>
            </li>
        </ul>
        <p class="p-product-type__bottom">
            <a href="<%- d.domain %>product/product2.html#pro_8" class="p-product-type__link">製品について詳しくはこちら</a>
        </p>
    </div>
    <div class="p-product-type__article">
        <p class="p-product-type__brand">
            <svg aria-label="X-FillTMA" width="305" height="63">><use xlink:href="#svg-brand-type02" /></svg>
        </p>
        <p class="p-product-type__tag c-large-tag">軽量物などの隙間埋め用</p>
        <ul class="p-product-type__list">
            <li class="p-product-type__item p-product-type__item--model3">
                <div class="p-product-type__image">
                    <img src="<%- d.path %>images/model02-1.jpg" alt="X-FillTMA 軽量物などの隙間埋め用 床置きスタンドモデル" width="187" height="350">
                </div>
                <p class="p-product-type__name">床置きスタンドモデル</p>
            </li>
            <li class="p-product-type__item p-product-type__item--model4">
                <div class="p-product-type__image">
                    <img src="<%- d.path %>images/model02-2.jpg" alt="X-FillTMA 軽量物などの隙間埋め用 テーブルサイドモデル" width="156" height="248">
                </div>
                <p class="p-product-type__name">テーブルサイドモデル</p>
            </li>
        </ul>
        <p class="p-product-type__bottom">
            <a href="<%- d.domain %>product/product2.html#pro_6" class="p-product-type__link">製品について詳しくはこちら</a>
        </p>
    </div>
</div>